@import '../../../static/scss/colors.scss';
.crumb-wrap{
  padding-left: 0px;
  margin: 0;
  list-style: none;
  &__item {
    display: inline-block;
    padding: 0px 4px;
    line-height: 18px;
    &.yellow{
      color: $yellow;
    }
    &__tag{
      text-decoration: none;
      padding: 0px;
      color: $blue1;
      &:visited {
        color:$blue1;
      }
      &.active{
        color: $blue1;
      }  
    }
  }
}