@import "./colors.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black;
  color: $white;
  // padding: 15px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -40px;
    height: 100%;
    width: 4px;
    background-color: rgb(187, 114, 55);
  }
}

pre {
  padding: 4px 2px;
  color: #bbbbbb;
  background-color: #444444;
}

// a {
//   color: $blue3;
//   &:active{
//     color: inherit;
//   }
// }

// @media only screen and (min-width: 320px){
//   html {
//     font-size: 62.5% !important;
//   }
// }
// @media only screen and (min-width: 640px){
//   html {
//     font-size: 125% !important;
//   }
// }
// @media only screen and (min-width: 750px){
//   html {
//     font-size: 150% !important;
//   }
// }
// @media only screen and (min-width: 1242px){
//   html {
//     font-size: 187.5% !important;
//   }
// }