@import "../../../common/scss/colors.scss";
.home-wrapper {
  position: relative;
  display: block;
  max-width: 820px;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  background-color: $black;
  box-sizing: border-box;

  .home-wrapper-tags{
    &__link{
      text-decoration: none;
        padding: 0px;
        color: $blue1;
        &:visited {
          color:$blue1;
        }
        &.active{
          color: $blue1;
        }  
    }
  } 
}
