.edit-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 10px;
    height: 100vh; // 服务端渲染防止页面抖动

    &__operate {
        position: absolute;
        right: 10px;
        bottom: 30px;
        z-index: 9999;

        &__btn {
            height: 30px;
            width: 30px;
            cursor: pointer;
            margin-bottom: 12px;
        }
    }

    .textarea-wrapper {
        display: flex;
        flex: 1;
        width: 50%;
        height: 100%;
        min-height: 0;
        color: #333;
        font-size: 14px;
        flex-direction: column;

        .title-input {
            width: 100%;
            padding: 4px 10px;
            border: none;
            resize: none;
            outline: none;
            background: #fff;
            margin-bottom: 12px;
            line-height: 1.7;

        }

        #textarea {
            padding: 20px 15px 15px 15px;
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            border: none;
            resize: none;
            outline: none;
            line-height: 1.7;
            background: #fff;
            font-size: 16px;
            font-family:"Microsoft Yahei";
        }
    }

    .preview-wrapper {
        flex: 1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        padding: 20px 15px 15px 15px;
        background: #292929;
        overflow-y: auto;
        word-break: break-word;
        transition: all .3s;

        &.hidden {
            transition: all .3s;
            flex: 0;
            opacity: 0;
        }
    }
}
#modal{
   
    .modal-wrapper{
        position: absolute;
        top: 20%;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}
