@import "./common/scss/colors.scss";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $white;
  color: $white;
}

// @media only screen and (min-width: 320px){
//   html {
//     font-size: 62.5% !important;
//   }
// }
// @media only screen and (min-width: 640px){
//   html {
//     font-size: 125% !important;
//   }
// }
// @media only screen and (min-width: 750px){
//   html {
//     font-size: 150% !important;
//   }
// }
// @media only screen and (min-width: 1242px){
//   html {
//     font-size: 187.5% !important;
//   }
// }
