.main-nav {
  padding-left: 20px;
  list-style: none;
  &__item {
    display: inline-block;
    padding: 0 12px 0;
    &__link {
      font-size: 18px;
      color: #cccccc;
      &:visited {
        color:#cccccc;
      }
      &.active{
        color: #336699;
      }
    }
  }
}
